@import 'src/styles/abstracts/_variables.scss';
.container {
  margin: $margin-rem-150;
  border: 1px solid #979797;
}
.form {
  display: flex;
  flex-direction: column;
  margin: $margin-rem-100;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row1 {
  display:flex;
  padding: 10px 15px;
  margin: 5px 0;
  justify-content: space-evenly;
}
.row2 {
  display: flex;
  padding: 0.125rem 8.2rem;
}

.actions {
  align-self: flex-end;
  margin-right: 1.25rem;
  padding-right: 1.25rem;
}

.button {
  justify-content: space-between;
  margin-left: 0.625rem;
}

.mat-form-field {
  width: 350px !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
