@import 'src/styles/abstracts/_variables.scss';
@import 'src/styles/abstracts/_mixins.scss';

li {
  list-style: none;
}

.mat-divider {
  width: 100%;
}

.container {
  margin: 2rem;
}

.header {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.address-button {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}