@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';

.card-product-image {
  width: $width-rem-2250;
  height: $height-rem-1500;
  margin: $margin-rem-100 $margin-rem-100;
}

.list-products {
  margin-left:$margin-rem-300  ;
  @include flex-left;
}

mat-card-title {
  font-size: $font-size-875;
  font-weight: $font-weight-bold;
}

.card-heading {
  @include flex-column;
  margin-top: $margin-rem-100;
  font-size: $font-size-base;
  font-weight: bold;
  margin: $margin-rem-200 0 $margin-rem-100 $margin-rem-500;
}

mat-card-actions {
  @include flex-center;
}

.add-cart-button {
  flex-basis: 30%;
}

.remove-cart-button {
  flex-basis: 30%;
}
