<h2>Products</h2>
<div class="content">
    <div *ngFor="let product of products" class="menubar" routerLinkActive="active-nav-link" (click)="onProductItem(product.code)">{{ product.title }}
        <img mat-card-image src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="product-image"/>

    
      
    <p *ngIf="product.group" class="size">
        {{ product.group }}
    </p>
</div>
</div>