<h3>Cart</h3>
<table mat-table [dataSource]="items" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Products </th>
   
    <td mat-cell *matCellDef="let item" >
      <span class="product">
      <img mat-card-image
      src="https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
      class="product-image"/> 
      {{item.title}}
    </span> 
    </td>
  </ng-container>
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let item"> {{item.unit+item.submetric}} </td>
  </ng-container>

 <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let item"> {{item.price}} </td>
  </ng-container>

 <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let item" > 
      <div >
        <button mat-icon-button (click)=subUnit(item,item.unit)>-</button>
        <button  min="0">{{item.quantity}}</button>
        <button mat-icon-button (click)=addUnit(item,item.unit)>+</button>
    </div>
   </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let item"> 500</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


