@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';

.cart {
  display: flex;
  flex-wrap: wrap;
}

.cart-item {
  margin: $margin-rem-25;
}

.product-image {
  @include img-style;
}
mat-card-title {
  font-size: $font-size-875;
  font-weight: $font-weight-bold;
}

.price-cart-right {
  float: right;
}
