@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';

.cart-view {
  width: 80%;
  align-items: center;
  margin: auto;
  margin-bottom: $margin-rem-300;
}

.table-header {
  @include flex-column;
  margin-top: $margin-rem-100;
}

.empty-screen {
  @include flex-column;
  margin: $margin-rem-300;
  padding: $pad-rem-100;
  border: 1px solid grey;

  div {
    @include flex-center;
  }

  .empty-message {
    font-size: $font-size-200;
    margin: $margin-rem-100;
  }

  .message {
    margin: $margin-rem-100;
    font-size: $font-size-base;
  }

  .cart-action {
    margin: $margin-rem-100;

    button {
      margin: $margin-rem-50;
    }
  }
}

.icon-style {
  font-size: 7rem;
  height: $height-rem-700;
  width: $width-rem-700;
}

table {
  width: 100%;
}

td.mat-cell:last-of-type {
  width: 25rem;
}

ng-container {
  @include flex-evenly;
}

.text-heading {
  text-align: center;
  font-size: $font-size-base;
  vertical-align: middle;
  margin: auto;
  font-weight: bold;
}

.cell-cart-item {
  .product-image {
    height: $height-rem-400;
    margin: auto;
    vertical-align: middle;
  }

  .row-image-info {
    @include flex-row;
    justify-content: center;
  }

  .cart-item-info {
    flex-direction: column;
    flex: 1;
    margin: $margin-rem-50;

    h4 {
      font-weight: 600;
      margin: $margin-rem-50;
    }

    h5 {
      font-weight: 500;
      margin: $margin-rem-50;
    }

    p {
      margin: 0 $margin-rem-50;
    }
  }
}

.cell-quantity {
  vertical-align: middle;

  section {
    display: flex;
    flex-direction: column;
  }

  .quantity-fields {
    display: flex;
    justify-content: center;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
  }

  .quantity-count {
    width: $width-rem-400;
    height: $height-rem-200;
    margin: $margin-rem-50;
  }
}

.cell-total {
  vertical-align: middle;
  text-align: center;
}

.footer-cell-total {
  vertical-align: middle;
  max-width: $width-rem-1200;
  background-color: gainsboro;

  section {
    display: flex;
    flex-direction: column;
  }

  .cart-action-buttons {
    margin: $margin-rem-50 auto;
  }

  .total-summary {
    margin-top: $margin-rem-100;
    text-align: center;
    font-weight: $font-weight-bold;
  }

  .cart-action {
    margin: $margin-rem-50;
    background-color: antiquewhite;
  }
}

.table-summary {
  margin-left: $margin-rem-200;
  @include flex-row;
}

.order-summary {
  margin-top: $margin-rem-350;
  width: $width-rem-2250;
  margin-bottom: $margin-rem-250 ;

  .heading {
    font-weight: bold;
    font-size: $font-size-150 ;
  }

  .summary-content {
    @include flex-row;
    margin-top: $margin-rem-300 ;

    .total-right {
      margin-left: $margin-rem-400 ;
    }
  }

  .shipping {
    margin-top: $margin-rem-100 ;
  }

  .total {
    @include flex-row;
    margin-top: $margin-rem-100 ;

    .total-right {
      margin-left: $margin-rem-1350 ;
    }
  }

  .mat-card-action {
    @include flex-column;

    .checkout {
      margin: $margin-rem-100 ;

    }

    .shopping {
      margin: $margin-rem-100 ;

    }
  }
}