<h3>Cart</h3>

<!-- <div >
  <img mat-card-image src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="product-image"/>
  <div class="row">{{ item.title }}</div>
  <div class="row">{{ item.group }}</div>
  <div class="row">{{ item.price | currency}}</div>
</div> -->

<div class="cart">
  <mat-card class="cart-item" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title class="title">{{ item.title }}</mat-card-title>
      <!-- <mat-card-subtitle>{{ item.group }} </mat-card-subtitle>  -->
      <mat-card-subtitle>{{ item.price }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
      class="product-image" />
  </mat-card>
</div>