<div class="container">
  <div class="section">
    <h3 class="header">Sign in to your account </h3>
    <form>
      <div>
        <div class="label">Username*</div>
        <mat-form-field appearance="fill">
          <input matInput type="Username" name="Username" #Username="ngModel" [(ngModel)]="user.Username"
            placeholder="Enter your Username" />
        </mat-form-field>
      </div>
      <div>
        <div class="label">Password*</div>
        <mat-form-field appearance="fill">
          <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="password"
            placeholder="Enter your password" type="{{(showPassword === false)?'password':'text'}}" />
          <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword(showPassword)">
            {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="password-hint">Forgot your password? Reset password</div>
      </div>
      <div class="footer">
        <div>No account? Sign up</div>
        <button class="button" (click)="signIn()" mat-raised-button color="primary">Sign in</button>
        <button class="button" (click)="cancel()" mat-raised-button color="primary">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- <div>
    <amplify-authenticator *ngIf="authState !== 'signedin'">
        <amplify-sign-in slot="sign-in">
            <div slot="federated-buttons"></div>
          </amplify-sign-in>
    </amplify-authenticator>
</div> -->

<!-- FIXME - Better to build our own screen -->
<!-- 
<div class="login">
        <div class="row">
          <div>
            <label for="Username" class="form-label">Username:</label>
            <input type="Username" id="Username" name="Username" #Username="ngModel" [(ngModel)]="user.Username" class="input">
          </div>
        </div>
        <div class="row">
          <div  >
            <label for="password" class="form-label">Password:</label>
            <div class="pwd" >
              <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="input">
              <button type="button" class="pwd-hideshow" (click)="user.showPassword = !user.showPassword">
                <mat-icon class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"mat-icon-type="font">visibility</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="sign-in">
          <div>
            <button type="button" (click)="signIn()" [disabled]="loading">
              <span role="status" aria-hidden="true" *ngIf="loading"></span>
              Sign in
            </button>
          </div>
        </div>
</div> -->