@import 'src/styles/abstracts/_mixins.scss';
@import 'src/styles/abstracts/_variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $vertical-height-100;
}

.section {
    min-width:$width-rem-2800;
    padding: $pad-rem-200 $pad-rem-250;
    margin-bottom:$margin-rem-100;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.label {
    display: block;
    font-size: $font-size-875;
    padding-bottom: 0.5em;
}

.footer {
    margin-top:$margin-rem-200 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.button {
    min-width: $width-rem-600;
    font-weight: $font-weight-bold;
    cursor: pointer;
    font-size: $font-size-875;
}

.password-hint {
    margin-bottom: $margin-rem-200;
}

::ng-deep .mat-form-field {
    width: $width-rem-2250;
    height:$height-rem-400;
    margin: 0 0 $margin-rem-50 0;
}

::ng-deep .mat-input-element {
    font-size: $font-size-875;
}

.header {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin-bottom: $margin-rem-75;
}

// .container{ 
//     @include change-password;
//     margin: auto;
//     border: 1px solid $border-color;
//     padding: 35px 45px;
//     margin-top: 8%; //FIXME - Use flex and align vertically center
// }

// .column {
//     display: flex;
//     flex-direction: column;
//     margin: $margin-rem-100;
// }

// ::ng-deep.mat-form-field-flex {
//     display: inline-flex;
//     align-items: end !important;
//     box-sizing: border-box;
//     width: 100%;
// }

// //FIXME - This should this be mixin 