@import 'src/styles/abstracts/_mixins.scss';
@import 'src/styles/abstracts/_variables.scss';

.container {
    @include box-container;
}

.section {
    min-width: $width-rem-2800;
    @include box-section;
}

.label {
    @include box-title-label;
}

.footer {
    @include box-footer;
}

.button {
    @include box-button;
}


::ng-deep .mat-form-field {
    @include box-mat-form-field;
}

::ng-deep .mat-input-element {
    @include box-mat-form-field-input;
}

.header {
    @include box-header-title;
}

.Highlight-signup {
    color: orange;
    cursor: pointer;
}

.alert {
    @include alert-form-field;
}