<!-- <div *ngFor="let productImage of productImages">
    <img mat-card-image src="{{productImage.url}}" class="product-image"/>
</div> -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <div *ngFor="let productImage of productImages">
            <img src="{{productImage.url}}">
        </div>
    </div>
    <a class="prev" (click)="plusSlides(-1,product,no)">❮</a>
    <a class="next" (click)="plusSlides(1,product, no)">❯</a>
</div>
<br>
<!-- <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
</div> -->