@import 'src/styles/abstracts/_variables.scss';

@mixin icons-spacing {
  padding-right: 0.5rem;
  float: left;
}

@mixin icon-text {
  display: flex;
  flex-direction: row;
  line-height: 1.3;
}

@mixin img-style {
  width: $width-rem-1600;
  object-fit: contain;
}

@mixin thumbnail-img {
  width: $width-rem-400 ;
  height: $height-rem-400;
  margin: $margin-rem-25 $margin-rem-50;
}


@mixin product-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-content-left {
  display: flex;
  justify-content: left;
}

@mixin flex-content-right {
  display: flex;
  justify-content: right;
}

@mixin box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $vertical-height-100;
}

@mixin box-section {
  padding: $pad-rem-200 $pad-rem-250;
  margin-bottom:$margin-rem-100;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

@mixin box-title-label {
  display: block;
  font-size: $font-size-875;
  padding-bottom: 0.5em;
}

@mixin box-footer-sign-in{
  margin-top:$margin-rem-200 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@mixin box-footer-sign-up{
  margin-top:$margin-rem-200 ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin box-button {
  margin:$margin-rem-75 ;
  min-width: $width-rem-600;
  font-weight: $font-weight-bold;
  cursor: pointer;
  font-size: $font-size-875;
}

@mixin box-mat-form-field {
  width: $width-rem-2250;
  height:$height-rem-400;
  margin: 0 0 $margin-rem-50 0;
}

@mixin box-mat-form-field-input{
  font-size: $font-size-875;
}

@mixin box-header-title {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-rem-75;
}

@mixin alert-form-field {
  color: red;
}