// Font family
$font-roboto: 'Roboto';
$font-helvetica: 'Helvetica Neue';
$font-sans: 'sans-serif';

// Font Sizes
$font-size-base: 1rem;
$font-size-875: 0.875rem;
$font-size-75: 0.75rem;
$font-size-625: 0.625rem;

//Padding
$pad-rem-200: 2rem;
$pad-rem-150: 1.5rem;
$pad-rem-125: 1.25rem;
$pad-rem-100: 1rem;
$pad-rem-50: 0.5rem;
$pad-rem-25: 0.25rem;
$pad-rem-0: 0rem;

//Margin
$margin-rem-300: 3rem;
$margin-rem-150: 1.5rem;
$margin-rem-100: 1rem;
$margin-rem-50: 0.5rem;
$margin-rem-25: 0.25rem;
$margin-rem-0: 0rem;

//font-weight
$font-weight-bold: bold;

//width
$width-rem-300: 3rem;
$width-rem-1200: 12rem;
$width-rem-1600: 16rem;

//height
$height-rem-400: 4rem;
$height-rem-800: 8rem;

//border-radius
$border-radius-350: 3.5rem;
$border-radius-25: 0.25rem;
$border-radius-0: 0rem;

// Primary colour
$hover-color: aqua;

// Secondary color
