@use '@angular/material' as mat;

$primary-color: mat.get-color-from-palette(mat.$light-green-palette, 500);
$primary-color-dark: mat.get-color-from-palette(mat.$light-green-palette, 900);
$primary-text-color: #000000; //FIXME - Pull this from the angular material theme

// Primary color
// $moss-green: #97BC62;
// $forest-green: #2C5F2D;
$border-color: #979797; //FIXME  - Refactor this 
$border-black: #000000;
$hover-color: $primary-color-dark;   


// Font family
$font-roboto: 'Roboto';
$font-helvetica: 'Helvetica Neue';
$font-sans: 'sans-serif';

// Font Sizes
$font-size-200: 2rem;
$font-size-base: 1rem;
$font-size-875: 0.875rem;
$font-size-75: 0.75rem;
$font-size-625: 0.625rem;

//Padding
$pad-rem-200: 2rem;
$pad-rem-150: 1.5rem;
$pad-rem-125: 1.25rem;
$pad-rem-100: 1rem;
$pad-rem-50: 0.5rem;
$pad-rem-25: 0.25rem;
$pad-rem-0: 0rem;

//Margin
$margin-rem-2000: 20rem;
$margin-rem-1500: 15rem;
$margin-rem-200: 2rem;
$margin-rem-300: 3rem;
$margin-rem-400: 4rem;
$margin-rem-150: 1.5rem;
$margin-rem-100: 1rem;
$margin-rem-50: 0.5rem;
$margin-rem-25: 0.25rem;
$margin-rem-0: 0rem;

//font-weight
$font-weight-bold: bold;

//width
$width-rem-200: 2rem;
$width-rem-300: 3rem;
$width-rem-800: 8rem;
$width-rem-1200: 12rem;
$width-rem-1600: 16rem;
$width-rem-2100: 21rem;
$width-rem-2500: 25rem;


//height
$height-rem-200: 2rem;
$height-rem-400: 4rem;
$height-rem-800: 8rem;
$height-rem-1300: 13rem;
$height-rem-1500: 15rem;


//border-radius
$border-radius-350: 3.5rem;
$border-radius-25: 0.25rem;
$border-radius-1: 0.1rem;
$border-radius-0: 0rem;
