<mat-toolbar *ngIf="authState !== 'signin'" color="primary" class="header-spacer">
    <div>
        <img class="header-logo"
            src="/assets/images/header-images/icon-1001596__340.webp">
        <span class="header-logo-text">E-Angaadi</span>
    </div>
    <div>
        <app-search></app-search>
    </div>
    <div class="header-icons">
        <app-location class="header-right-buttons"></app-location>
        <app-user  [authState]="authState" class="header-right-buttons"></app-user>
        <app-cart class="header-right-buttons"></app-cart>
    </div>
</mat-toolbar>

