@import 'src/styles/abstracts/_variables.scss';
.menubar {
  font-size: 10px;
}

.mat-toolbar {
  height: 6rem;
}

.header-logo {
  width: 3rem;
  float: left;
}

.header-spacer {
  justify-content: center;
}

.header-icons {
  display: flex;
  flex-direction: row;
}

.header-right-buttons {
  margin: $margin-rem-150;
  padding: $pad-rem-50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
