@import 'src/styles/abstracts/_variables.scss';

.menubar {
  font-size: 10px;
}

.mat-toolbar {
  height: 6rem;
  display: flex;
  flex-direction: row;
  padding: $pad-rem-200;
  justify-content: space-evenly;
}

.header-logo {
  display: flex;

  .logo-image {
    width: 100px;
  }

  .logo-name {
    margin: auto;
  }
}

.header-icons {
  display: flex;
  flex-direction: row;
}
