@import 'src/styles/abstracts/_variables.scss';
.example-container {
  position: absolute;
  top: 7rem;
  bottom: 5rem;
  left: 5rem;
  right: 5rem;
  background: #eee;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  color: black;
  border-radius: 10px;
  padding: $pad-rem-100;
  text-align: center;
}
.mat-nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: $font-size-base;
}
.mat-nav-link:hover {
  color: $hover-color;
}
.mat-nav-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: $font-size-base;
  margin: $margin-rem-200;
}
.mat-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: bold;
  margin: $margin-rem-200;
}
