<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <a>Orders</a>
        <a class="mat-nav-link">History</a>
        <a class="mat-nav-link">Favourite-List</a>
        <!-- FIXME - Provide Spacing  -->
        <a>Account-info</a>
        <a class="mat-nav-link" (click)="personalInformation()">Personal Information</a>
        <a class="mat-nav-link">Payment Information</a>
        <a class="mat-nav-link" (click)="address()">Address</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>