<div class="container">
    <div class="header">Add Address</div>
    <mat-divider class="mat-divider"></mat-divider>
    <form [formGroup]="addressForm">
        <div class="form-row">
            <div class="title">Full name*</div>
            <mat-form-field>
                <input matInput type="text" name="fullname" formControlName="fullname" />
                <div *ngIf="f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)" class="alert">
                    <div *ngIf="f.fullname.errors?.required">
                        full name is required.
                    </div>
                    <div *ngIf="f.fullname.errors?.minlength">
                        full name should be atleast 3 letters.
                    </div>
                </div>
            </mat-form-field>
            <div class="title">Phone number*</div>
            <mat-form-field>
                <input matInput type="tel" name="phonenumber" formControlName="phonenumber" />
                <div *ngIf="f.phonenumber.invalid && (f.phonenumber.dirty || f.phonenumber.touched)" class="alert">
                    <div *ngIf="f.phonenumber.errors?.required">
                        phone number is required.
                    </div>
                    <div *ngIf="f.phonenumber.errors?.maxlength">
                        phone number should be atleast 10 numbers
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-row">
            <div class="title">Flat, House no., Building, Company, Apartment</div>
            <mat-form-field>
                <textarea matInput type="url" name="address" formControlName="address"></textarea>
                <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert">
                    <div *ngIf="f.address.errors?.required">
                        Flat, House no., Building, Company, Apartment is required.
                    </div>
                    <div *ngIf="f.address.errors?.minlength">
                        Flat, House no., Building, Company, Apartment should be atleast 15 letters.
                    </div>
                    <div *ngIf="f.address.errors?.maxlength">
                        Flat, House no., Building, Company, Apartment must be within 100 letters.
                    </div>
                </div>
            </mat-form-field>
            <div class="title">Area, Street, Sector, Village</div>
            <mat-form-field>
                <textarea matInput type="url" name="area" formControlName="area"></textarea>
                <div *ngIf="f.area.invalid && (f.area.dirty || f.area.touched)" class="alert">
                    <div *ngIf="f.area.errors?.required">
                        Area, Street, Sector, Village is required.
                    </div>
                    <div *ngIf="f.area.errors?.minlength">
                        Area, Street, Sector, Village should be atleast 15 letters.
                    </div>
                    <div *ngIf="f.area.errors?.maxlength">
                        Area, Street, Sector, Village must be within 100 letters.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-row">
            <div class="title">Landmark</div>
            <mat-form-field>
                <textarea matInput type="url" name="landmark" formControlName="landmark"></textarea>
                <div *ngIf="f.landmark.invalid && (f.landmark.dirty || f.landmark.touched)" class="alert">
                    <div *ngIf="f.landmark.errors?.required">
                        landmark is required.
                    </div>
                    <div *ngIf="f.landmark.errors?.minlength">
                        landmark should be atleast 3 letters.
                    </div>
                </div>
            </mat-form-field>
            <div class="title">Town/City</div>
            <mat-form-field>
                <input matInput type="text" name="city" formControlName="city" />
                <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)" class="alert">
                    <div *ngIf="f.city.errors?.required">
                        city is required.
                    </div>
                    <div *ngIf="f.city.errors?.minlength">
                        city should be atleast 3 letters.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="form-row">
            <div class="title">State</div>
            <mat-form-field>
                <input matInput type="text" name="state" formControlName="state" />
                <div *ngIf="f.state.invalid && (f.state.dirty || f.state.touched)" class="alert">
                    <div *ngIf="f.state.errors?.required">
                        State is required.
                    </div>
                    <div *ngIf="f.state.errors?.minlength">
                        State should be atleast 3 letters.
                    </div>
                </div>
            </mat-form-field>
            <div class="title">Pincode</div>
            <mat-form-field>
                <input matInput type="url" name="pincode" formControlName="pincode" />
                <div *ngIf="f.pincode.invalid && (f.pincode.dirty || f.pincode.touched)" class="alert">
                    <div *ngIf="f.pincode.errors?.required">
                        pincode is required.
                    </div>
                    <div *ngIf="f.pincode.errors?.minlength">
                        pincode should be atleast 6 digit.
                    </div>
                    <div *ngIf="f.pincode.errors?.maxlength">
                        pincode must be within 6 digit.
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div class="error-alert">{{editError}}</div>
    </form>
    <ul class="button">
        <li><button (click)="address()" mat-raised-button color="primary">Back</button></li>
        <li *ngIf="saveButton"><button (click)="onSave()" mat-raised-button color="primary">Save</button></li>
        <li *ngIf="!saveButton"><button (click)="onUpdate()" mat-raised-button color="primary">Update</button></li>
    </ul>
</div>