@import 'src/styles/abstracts/_variables.scss';
@import 'src/styles/abstracts/_mixins.scss';

li {
    list-style: none;
}

.container {
    margin: $margin-rem-200;
}

.mat-divider {
    width: 100%;
}

.header {
    @include account-info-header;
}

.title {
    @include account-info-title;
}

form {
    width: 100%;
}

::ng-deep .mat-form-field {
    width: 15rem;
    margin: $margin-rem-100 0 0 $margin-rem-100;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.button {
    @include flex-content-end;
}

.button li {
    margin: $margin-rem-100;
}

.alert {
    @include alert-form-field;
}


.error-alert {
    @include error-alert-form-field;
}