@import 'src/styles/abstracts/_variables.scss';
@import 'src/styles/abstracts/_mixins.scss';

.container {
    margin: $margin-rem-200;
}

.mat-divider {
    width: 100%;
}

.header {
    @include account-info-header;
}

.title {
    @include account-info-title;
}

::ng-deep .mat-form-field {
    width: $margin-rem-2000;
    margin: $margin-rem-100 0 $margin-rem-100 0;
}

::ng-deep textarea {
    height: $height-rem-300;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-end-button {
    @include flex-content-end;
}

.action-button {
    margin: $margin-rem-100;
}

.alert {
    @include alert-form-field;
}

.error-alert {
    @include error-alert-form-field;
}