.products {
  margin: 4px 8px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: 4px;
}

.product-image {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.content-head {
  display: flex;
  margin: 10px 40px;
}

.title-spacer {
  flex: 1;
}
