<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" opened>
        <div class="menu-container">
            <h3 class="menu-header">Orders</h3>
            <ul class="menu-contents">
                <li class="nav-link">History</li>
                <li class="nav-link">Favorite List</li>
            </ul>
            <mat-divider> </mat-divider>
            <h3 class="menu-header">Account Info</h3>
            <ul class="menu-contents">
                <li class="nav-link" (click)="personalInformation()">Personal Information</li>
                <li class="nav-link">Payment Information</li>
                <li class="nav-link" (click)="address()">Address</li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>