@import 'src/styles/abstracts/_variables.scss';

li {
  list-style: none;
}

.side-nav-container{
  position: absolute;
  width: 100%;
  top: 6rem;
  bottom: 1rem;
  right:1rem;
}

.menu-container {
  width: 15rem;
}

.menu-header {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(161, 153, 153);
}

.menu-contents li{
  display: flex;
  justify-content: center;
  margin:1rem 0 1rem 0;
  cursor: pointer;
}


.nav-link:hover {
  color: $hover-color;
}