<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel>
        <li *ngFor="let item of items;" class="carousel-item">
            <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
        </li>
    </ul>
</section>
<div *ngIf="showControls">
    <button mat-mini-fab color="accent" aria-label="Previous" class="prev" (click)="prev()" *ngIf="showControls">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Next" class="next" (click)="next()" *ngIf="showControls">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>