<div class="container">
  <form class="form" [formGroup]="passwordForm">
    <div class="column">
      <mat-form-field class="field-mid">
        <mat-label>Username</mat-label>
        <input matInput name="user" formControlName="user" [value]="setData()" />
      </mat-form-field>

      <mat-form-field class="field-mid">
        <mat-label>Old Password </mat-label>
        <input matInput name="oldPassword" required formControlName="oldPassword"
          type="{{(showPassword === false)?'password':'text'}}" />
        <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword(showPassword)">
          {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="field-mid">
        <mat-label>New Password </mat-label>
        <input matInput id="newPassword" name="newPassword" formControlName="newPassword"
          type="{{(showPassword === false)?'password':'text'}}" />
        <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword(showPassword)">
          {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="button">
      <button (click)="onChangePassword()" mat-raised-button color="primary">Change Password</button>
    </div>
  </form>
</div>