.container {
    width:400px;
    height:250px;
    // @include boxed-section; //FIXME - Indu create this mixin with height & width as parameters
    margin: auto;
    border: 1px solid #979797;  //FIXME - Variables 
    padding: 1rem;
    margin-top:8%;  //FIXME - Use flex and align vertically center
}

.column {
    display: flex;
    flex-direction: column;  //FIXME - Review this 
    margin: 1rem; 
}



