@import 'src/styles/abstracts/_mixins.scss';
@import 'src/styles/abstracts/_variables.scss';

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.column {
    display: flex;
    flex-direction: column;
    margin: $margin-rem-100;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.form {
    padding: $pad-rem-100;
    @include box-border
}



.field-mid {
    min-width: 300px;
    margin: $margin-rem-25;
}
