* {
  box-sizing: border-box;
}

.column-listing {
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.category-listing {
  flex-basis: 25%;
}
.product-listing {
  flex-basis: 75%;
}
