.mat-toolbar {
  height: 6rem;
}

.header-logo {
  width: 2rem;
}

.header-logo-text {
  font-size: 1rem;
}

:host {
  display: flex;
}

.header-icons {
  display: flex;
  flex-direction: row;
}

.header-right-buttons {
  margin: 1.3rem;
}

.search-bar-align {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
