@import 'src/styles/abstracts/_variables.scss';
.nav-header {
  font-size: 1.5rem;
  margin: $margin-rem-100;
  font-weight: bold;
}
.nav-item-header {
  font-size: $font-size-base;
  margin: $margin-rem-100;
  font-weight: 600;
  padding: $pad-rem-50;
}
.nav-item {
  font-size: $font-size-base;
  margin: $margin-rem-100;
  padding: $pad-rem-50;
}
.mat-divider {
  margin: $margin-rem-50 $margin-rem-50;
}
