<div class="container">
    <div class="header">Personal information</div>
    <!-- <mat-divider class="mat-divider"></mat-divider> -->
    <form [formGroup]="EditForm">
        <div class="form-row">
            <mat-form-field>
                <div class="label">First Name *</div>
                <input matInput type="text" name="firstname" formControlName="firstname" />
            </mat-form-field>
            <div>

                <mat-form-field>
                    <div class="label">E-Mail *</div>
                    <input matInput type="email" name="email" formControlName="email" />
                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert">
                        <div *ngIf="f.email.errors?.required">
                            E-Mail is required.
                        </div>
                        <div *ngIf="f.email.errors?.minlength">
                            E-Mail must be atleast 4 characters.
                        </div>
                    </div>
                </mat-form-field>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <button mat-icon-button color="warn" class="verification">
                                <mat-icon title=" Not Verified">
                                    dangerous
                                </mat-icon>
                            </button>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- <button mat-icon-button color="primary" class="verification">
                    <mat-icon title="Verified">
                        verified
                    </mat-icon>
                </button> -->
            </div>
        </div>
        <div class="form-row">
            <div>
                <mat-form-field>
                    <div class="label">Phone Number *</div>
                    <input matInput type="tel" name="phonenumber" formControlName="phonenumber" />
                    <div *ngIf="f.phonenumber.invalid && (f.phonenumber.dirty || f.phonenumber.touched)" class="alert">
                        <div *ngIf="f.phonenumber.errors?.required">
                            Phone Number is required
                        </div>
                        <div *ngIf="f.phonenumber.errors?.minlength">
                            Phone Number must be atleast 4 characters
                        </div>
                    </div>
                </mat-form-field>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <button mat-icon-button color="warn" class="verification">
                                <mat-icon title="Not Verified">
                                    dangerous
                                </mat-icon>
                            </button>
                        </mat-expansion-panel-header>
                        <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                <!-- <button mat-icon-button color="primary" class="verification">
                                <mat-icon title="Verified">
                                    verified
                                </mat-icon>
                            </button> -->
            </div>
        </div>
        <div class="error-alert">{{editError}}</div>
        <div class="flex-end-button">
            <button class="action-button" (click)="initUser()" mat-raised-button color="primary">Reset</button>
            <button class="action-button" (click)="editUserData()" mat-raised-button color="primary">Save</button>
        </div>
    </form>
</div>