@import 'src/styles/abstracts/_variables.scss';
@import 'src/styles/abstracts/_mixins.scss';


li {
  list-style: none;
}

.container {
  margin: 2rem;
}

.header {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.mat-divider {
  width: 100%;
}

.title {
  font-size: $font-size-base;
  margin: 1rem;
  font-weight: 500;
}

.item {
  font-size: $font-size-base;
  margin: 1rem;
}