<div class="dropdown">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-icon-text">Your Account</span>
    <span class="user-icon-text">
        <span class="user-icon-text" *ngIf="!signedin">Sign in</span>
        <span class="user-icon-text" *ngIf="signedin" >{{name}}</span>
    </span>
    <div class="dropdown-content">
        <button mat-raised-button class="submenu-link" *ngIf="!signedin" (click)="signIn()" color="primary" href="#">Signin</button>
        <div class="name">
            <p class="mail">{{mail}}</p>
        </div>
        <hr>
        <div class="signout">
            <amplify-sign-out *ngIf="signedin"></amplify-sign-out>
        </div>
        <hr>
    </div>
</div>