@import 'src/styles/abstracts/_variables.scss';

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: left;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: $font;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  max-height: 31rem;
  transition: max-height 1.5s ease-in;
}
.dropdown {
  float: left;
  overflow: hidden;
  margin: 0.2rem 0.7rem;
}

.submenu-link {
  padding: 0.3rem 0.6rem;
  background-color: blue;
  color: white;
}
.name {
  color: black;
  text-align: center;
  font-size: 0.6rem;
  margin: 0.3rem;
}
.signout {
  padding: 0.3rem 0.9rem;
}

@import 'src/styles/abstracts/_mixins.scss';

.user-icon {
  @include icons-spacing();
}

.user-icon-text {
  @include icon-text();
}
