@import 'src/styles/abstracts/_variables.scss';

// .dropdown-content {
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 5rem;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 9999;
//   text-align: left;
//   max-height: 0;
//   transition: max-height 0.15s ease-out;
//   overflow: hidden;
// }
// .dropdown-content a {
//   color: black;
//   text-decoration: none;
//   display: block;
//   text-align: center;
//   font-size: $font-size-75;
// }
// .dropdown-content a:hover {
//   background-color: #ddd;
// }
// .dropdown:hover .dropdown-content {
//   max-height: 31rem;
//   transition: max-height 1.5s ease-in;
// }
// .dropdown {
//   float: left;
//   overflow: hidden;
//   margin: 0.2rem 0.7rem;
// }

.signin {
  left: 0.3rem;
  top: 0.3rem;
  display: flex;
}
.name {
  color: black;
  text-align: center;
  font-size: $font-size-625;
}
.signout {
  display: flex;
  padding: $pad-rem-25;
  margin: $margin-rem-25;
}
.cdk-overlay-pane {
  width: 100%;
}
.mat-menu-panel {
  width: 100%;
}

@import 'src/styles/abstracts/_mixins.scss';

.user-icon {
  @include icons-spacing();
}

.user-icon-text {
  @include icon-text();
}

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
