<div class="dropdown">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <span class="user-icon-text">Your Account</span>
    <span class="user-icon-text">Sign in</span>
    <div class="dropdown-content">
        <button mat-button class="submenu-link"  *ngIf="!signedin"  (click)="signIn()" href="#">Signin</button>
        <div class="name">
            <p class="name">{{name}}</p>
            <p class="mail">{{mail}}</p>
        </div>
        <div >
            <amplify-sign-out *ngIf="signedin"  ></amplify-sign-out>
        </div> 
    </div>
</div>