@import 'src/styles/abstracts/_mixins.scss';

// FIXME - Create one mixin for Cart styling

.total {
  margin-left: $margin-rem-50;
  margin-bottom: $margin-rem-100;
  font-weight: bold;
}

.quantity {
  margin-left: $margin-rem-25;
}

.cart-total {
  float: right;
  margin-right: 1rem;
  font-weight: bold;
}

.cart-icon {
  @include icons-spacing();
}

.cart-icon-text {
  @include icon-text();
}

//FIXME - Use the material badge
.cart-icon-badge {
  position: absolute;
  top: -1.188rem;
  right: 0.875rem;
  border-radius: 50%;
  background: $background-color-red;
  //FIXME - User material design ascent style attribute
  height: 1.8rem;
  width: 1.8rem;
}

.button {
  margin: $margin-rem-50;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: $margin-rem-50;
}
