@import 'src/styles/abstracts/_mixins.scss';

// FIXME - Create one mixin for Cart styling

.total {
  float: left;
  color: $font-color;
  margin-bottom: 1rem;
}
.cart-total {
  float: right;
}

.cart-icon {
  @include icons-spacing();
}

.cart-icon-text {
  @include icon-text();
}

// .submenu{
//   height: 5rem;
//   width: 12rem
// }

.button {
  margin: 0rem 3rem;
}
