<button mat-button [matMenuTriggerFor]="menu"  #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
    <mat-icon class="cart-icon">add_shopping_cart</mat-icon>
    <span class="cart-icon-text"><span class="mat-small">Cart</span></span>
</button>
    <mat-menu #menu="matMenu" class="submenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
            
            <app-cart-summary class="submenu-link1"></app-cart-summary>
      
      <footer>
            <span class="total" >Subtotal:{{cartTotal | currency:'INR'}}</span>
            
            <button class="button" mat-raised-button color="primary" (click)="onCart()">View
                Cart & Checkout</button>
            </footer>
            
        </span>
    </mat-menu>

