// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$E-Angaadi-primary: mat.define-palette(mat.$purple-palette, 700);
$E-Angaadi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$E-Angaadi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$E-Angaadi-theme: mat.define-light-theme(
  (
    color: (
      primary: $E-Angaadi-primary,
      accent: $E-Angaadi-accent,
      warn: $E-Angaadi-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($E-Angaadi-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --amplify-primary-color: #c749ee;
  --amplify-primary-tint: black;
  --amplify-primary-shade: #e03ed8;
  --amplify-background-color: skyblue;
}

:host {
  display: flex;
}

//abstracts
@import 'scss/abstracts/functions', 'scss/abstracts/mixins', 'scss/abstracts/placeholders', 'scss/abstracts/variables';

//base
@import 'scss/base/animations', 'scss/base/reset', 'scss/base/typography';

//components
@import 'scss/components/buttons', 'scss/components/carousel', 'scss/components/cover', 'scss/components/dropdown';

//layout
@import 'scss/layout/footer', 'scss/layout/forms', 'scss/layout/grid', 'scss/layout/header', 'scss/layout/navbar',
  'scss/layout/sidebar';

//pages
@import 'scss/pages/home';

//themes
@import 'scss/themes/theme';

//vendors
@import 'scss/vendors/bootstrap';
