@import '/src/styles/abstracts/variables';

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: $margin-rem-25;
}

.product-image {
  width: 16rem;
  object-fit: contain;
  margin: $margin-rem-25;
  height: 15rem;
}

::ng-deep .mat-chip-list-wrapper {
  width: 16rem;
}

.price-cart-right {
  float: right;
}

mat-card-title {
  font-size: $font-size-875;
  font-weight: $font-weight-bold;
}
