@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';

.product {
  margin: $margin-rem-25;
}

.product-image {
  @include img-style;
  margin: $margin-rem-25;
  height: 15rem;
}

::ng-deep .mat-chip-list-wrapper {
  @include img-style;
}

.price-cart-right {
  float: right;
}

mat-card-title {
  font-size: $font-size-875;
  font-weight: $font-weight-bold;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding: $pad-rem-0;
}

.add-cart-button {
  flex-basis: 85%;
}

.list-cart-button {
  flex-basis: 15%;
}

.count-badge {
  transform: scale(0.7);
  font-size: $font-size-base;
}

.quantity-info {
  width: 68%;
  height: $height-rem-200;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.add-sub-icon {
  min-width: $width-rem-200;
  padding: 0%;
  min-height: $height-rem-200;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
  margin-left: $margin-rem-50;
  margin-right: $margin-rem-50;
}