<!-- <div>{{cartProductItems | json}}</div> -->
<mat-card class="product" role="listitem">
    <app-product-image [product]="product"></app-product-image>
    <mat-card-content>
        <mat-card-title>{{product.key | translate}}<span class="price-cart-right">{{price| currency:'INR'}}</span>
        </mat-card-title>
        <mat-card-title>{{product.title | titlecase}}</mat-card-title>
        <mat-chip-list>
            <mat-chip *ngFor="let item of product.units" #lbl="matChip" (click)="selectChip(lbl, item.unit,item.price)">
                <button *ngIf="isProductUnitInCart(item.unit)" class="count-badge" min="0"
                    mat-mini-fab>{{getCartItemQuantity(item.unit)}}</button>
                {{item.unit + ' ' + product.submetric}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!isInCart()" class="add-cart-button" color="primary" mat-raised-button [disabled]="!selectedUnit"
            (click)="addToCart(product)">Add To
            Cart</button>
        <div *ngIf="isInCart()" class="add-cart-button">
            <button mat-raised-button class='add-sub-icon' color="primary" (click)=subUnit()>
                <mat-icon>remove</mat-icon>
            </button>
            <button class='quantity-info' *ngIf="isInCart()" min="0">{{ selectedProductUnitQuantity() }} in
                Basket</button>
            <button mat-raised-button class='add-sub-icon' color="primary" (click)=addUnit()>
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <button *ngIf="saveList===false" (click)="SaveToList(product)" color="accent" class="list-cart-button"
            mat-flat-button>
            <mat-icon>bookmark_border</mat-icon>
        </button>
        <button *ngIf="saveList===true" (click)="removeFromList(product)" color="accent" class="list-cart-button"
            mat-flat-button>
            <mat-icon>bookmark_add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>